body {
  font-family: "微软雅黑";
  /*  font-size:62.5%;*/
}
.logo {
  padding: 0;
}
.navv {
  margin-top: 50px;
}
.navv img {
  margin: 0 auto;
}
.navv .c1 {
  background: #202F3C;
}
.navv .c2 {
  background: #E9D9D2;
}
.navv .c3 {
  background: #D2272A;
}
.biaoti {
  text-align: center;
  color: #1B4BA3;
  font-size: 24px;
  margin: 30px 0 0 0;
}
.zi {
  text-align: center;
  font-size: 16px;
  margin: 10px 0 0 0;
  olor: #999999;
}
.distance {
  margin-bottom: 20px;
}
.delete {
  text-decoration: line-through;
  color: #999999;
}
.kecheng {
  margin: 50px 0 0 0;
}
.bg {
  background: #EEEEEE;
  width: 100%;
  padding: 50px 0;
}
.bg .auto {
  width: 40%;
}
.bg .tab2-txt {
  text-align: center;
}
.bg1 {
  width: 100%;
  padding: 50px 0;
}
.bg1 .auto {
  width: 50%;
}
.bg1 .txt {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .tab2-img {
    float: right;
  }
  .tab2-txt {
    float: left;
    text-align: center;
  }
}
/*  资讯  */
.zxbg {
  margin: 50px 0 0 0;
  background: url(../img/bg.jpg);
  color: #fff;
}
.info {
  width: 100%;
  background: #eee;
  padding: 30px 0;
}
.info .bgcol2 {
  background: #fff;
  padding: 15px 0 15px 0;
  margin-right: 20px;
  box-shadow: 3px 3px 5px #777;
}
.info .bgcol3 {
  background: #fff;
  padding: 15px;
  box-shadow: 3px 3px 5px #777;
  /*  margin-left:10px;*/
}
.info .bottom-mar {
  margin-bottom: 20px;
}
.blockquote-pad {
  padding: 1px 20px;
}
/*.img-size{
  width:40%;
}*/
.bgcol5 {
  background: #eee;
  padding-top: 50px;
}
.bgcol5 h4 {
  text-align: center;
}
.bgcol5 p {
  text-align: center;
}
.foot {
  width: 100%;
  background: #666666;
  padding: 20px 0;
}
.foot .aa {
  text-align: center;
}
.foot .aa a {
  display: inline-block;
  border-right: 1px solid  #fff;
  color: #fff;
  padding: 0 10px;
}
.foot .aa .no {
  border-right: none;
}
.foot .foot-zi {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.bgcol6 {
  background: #eee;
  padding: 50px 0 20px 0;
}
.bgcol6 .bbg {
  background: #fff;
}
.bgcol6 .bbg h3 {
  line-height: 3em;
  border-bottom: 1px #ccc solid;
}
.bgcol6 .bbg p {
  line-height: 2em;
  font-size: 16px;
}
.bgcol6 .txt-color {
  color: #1B4BA3;
}
